In [18]:
import pandas as pd
import json

with open('./MongoDb/Collections/Players.json') as f:
    d = json.load(f)

print(d)

[{'name': 'Trincao', 'address': 'Lisboa', 'contact': ['trincao@gmail.com']}, {'name': 'Marega', 'address': 'Porto', 'contact': ['marega@gmail.com', 'portoMarega@gmail.com']}]

In [22]:
for element in d:
    print(element['name'])

Trincao
Marega

In [23]:
df = pd.json_normalize(d)
print(df.head())

      name address                                    contact
0  Trincao  Lisboa                        [trincao@gmail.com]
1   Marega   Porto  [marega@gmail.com, portoMarega@gmail.com]

In [25]:
data = {"A": [1, 2]}
pd.json_normalize(data, "A", record_prefix="Prefix.")

        A
0  [1, 2]